<section class="footers bg-light pt-5 pb-3 mt-4">
    <div class="container pt-5">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 footers-one">
                 <div class="footers-logo">
                     <img src="http://velikorodnov.com/html/autotrader/images/logo.png" alt="Logo" style="width:120px;">
                 </div>
                 <div class="footers-info mt-3">
                     <p>Cras sociis natoque penatibus et magnis Lorem Ipsum tells about the compmany right now the best.</p>
                 </div>
                 <div class="social-icons "> 
                 <a href="https://www.facebook.com/"><i id="social-fb" class="bi bi-facebook"></i></a>
                 <a href="https://twitter.com/"><i id="social-tw" class="bi bi-twitter"></i></a>
                 <a href="https://plus.google.com/"><i id="social-gp" class="bi bi-google"></i></a>
                 <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="bi bi-envelope"></i></a>
             </div>
             </div>
            <div class="col-xs-12 col-sm-6 col-md-2 footers-two">
                 <h5>Categorías</h5>
                 <ul class="list-unstyled ">
                  <li><a class=" link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="maintenance.html">Auriculares</a></li>
                  <li><a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="contact.html">Altavoces</a></li>
                  <li><a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="about.html">Otros dispositivos</a></li>
                 </ul>
             </div>
            <div class="col-xs-12 col-sm-6 col-md-2 footers-three">
                 <h5>Nosotros</h5>
                 <ul class="list-unstyled">
                  <li><a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="maintenance.html">La empresa</a></li>
                  <li><a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="contact.html">Carreras</a></li>
                  <li><a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="about.html">Prensa</a></li>
                 </ul>
             </div>
            <div class="col-xs-12 col-sm-6 col-md-2 footers-four">
                 <h5>Servicios</h5>
                 <ul class="list-unstyled">
                  <li><a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="maintenance.html">Gift Card</a></li>
                  <li><a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="contact.html">Envíos</a></li>
                  <li><a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="about.html">Creación de cuenta</a></li>
                 </ul>
             </div>
            <div class="col-xs-12 col-sm-6 col-md-2 footers-five">
                 <h5>Ayuda</h5>
                 <ul class="list-unstyled">
                  <li><a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="maintenance.html">Asistencia en la compra</a></li>
                  <li><a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="about.html">Seguimiento de pedido</a></li>
                  <li><a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="about.html">Contacto</a></li>
                 </ul>
             </div>
             
        </div>
    </div>
 </section>
 <section class="disclaimer bg-light border">
     <div class="container">
         <div class="row ">
             <div class="col-md-12 py-2">
                 <small>
                    Disclaimer: Element Limited is only an intermediary offering its platform to facilitate the transactions between Seller and Customer/Buyer/User and is not and cannot be a party to or control in any manner any transactions between the Seller and the Customer/Buyer/User. All the offers and discounts on this Website have been extended by various Builder(s)/Developer(s) who have advertised their products. Element is only communicating the offers and not selling or rendering any of those products or services. It neither warrants nor is it making any representations with respect to offer(s) made on the site. Element Limited shall neither be responsible nor liable to mediate or resolve any disputes or disagreements between the Customer/Buyer/User and the Seller and both Seller and Customer/Buyer/User shall settle all such disputes without involving Element Limited in any manner.
                </small>
             </div>
         </div>
     </div>
 </section>
 <section class="copyright border">
     <div class="container">
         <div class="row text-center">

<!-- Sub Footer -->
 <div class="row">
    <div class="col-md-2">
        <div class="row justify-content-center justify-content-md-start"> <img src="https://i.imgur.com/wTcBfAU.png" width="50px" height="50px"> </div>
    </div>
    <div class="col-md-7 d-flex justify-content-center mb-3">
        <div class="d-inline-flex justify-content-center px-2 px-md-2 px-lg-3 pt-3"> <a class="text-decoration-none" href="#">About</a> </div>
        <div class="d-inline-flex justify-content-center px-2 px-md-2 px-lg-3 pt-3"> <a class="text-decoration-none" href="#">Work</a> </div>
        <div class="d-inline-flex justify-content-center px-2 px-md-2 px-lg-3 pt-3"> <a class="text-decoration-none" href="#">Blog</a> </div>
        <div class="d-inline-flex justify-content-center px-2 px-md-2 px-lg-3 pt-3"> <a class="text-decoration-none" href="#">Careers</a> </div>
        <div class="d-inline-flex justify-content-center px-2 px-md-2 px-lg-3 pt-3"> <a class="text-decoration-none" href="#">Contact</a> </div>
    </div>
    <div class="col-md-3 justify-content-center d-flex"> <a href="#">
            <div class="d-inline-flex px-3 px-md-2 px-lg-3 pt-3">
                <div><i class="bi bi-facebook"></i></div>
            </div>
        </a> <a href="#">
            <div class="d-inline-flex px-3 px-md-2 px-lg-3 pt-3">
                <div ><i class="bi bi-twitter"></i></div>
            </div>
        </a> <a href="#">
            <div class="d-inline-flex px-3 px-md-2 px-lg-3 pt-3">
                <div ><i class="bi bi-instagram"></i></div>
            </div>
        </a> <a href="#">
            <div class="d-inline-flex px-3 px-md-2 px-lg-3 pt-3">
                <div ><i class="bi bi-linkedin"></i></div>
            </div>
        </a> <a href="#">
            <div class="d-inline-flex px-3 px-md-2 px-lg-3 pt-3">
                <div ><i class="bi bi-google"></i></div>
            </div>
        </a> </div>
</div>

</div>
</div>
</section>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>

</body>
</html>