<header class=" py-2">


    <div id="carouselExampleAutoplaying" style="z-index: -2;" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="d-flex justify-content-evenly" style="background-color: #FBF0E4; border: 1px solid #FBF0E4; width: 80%;margin: auto; ">
                <div >
                    <h2 class="mt-5">Aprovecha las ofertas</h2>
                    <h2 class="mt-4">Hasta un 50% de decuento</h2>
                    <button class="btn btn-secondary mt-4 mb-4">Compre ahora</button>
                </div>
                <div >
                    <img src="../img/chica.png" class="img-fluid" alt="chica">
                </div>
                
              </div>
          </div>
          <div class="carousel-item">
            <div class="d-flex justify-content-evenly" style="background-color:  #FBF0E4; border: 1px solid #FBF0E4; width: 80%;margin: auto; ">
                <div >
                    <h2 class="mt-5">Aprovecha las ofertas</h2>
                    <h2 class="mt-4">Hasta un 50% de decuento</h2>
                    <button class="btn btn-secondary mt-4">Compre ahora</button>
                </div>
                <div >
                    <img src="../img/chica2.png" class="img-fluid" alt="chica">
                </div>
                
              </div>
          </div>
          <div class="carousel-item">
            <div class="d-flex justify-content-evenly" style="background-color:  #FBF0E4; border: 1px solid #FBF0E4; width: 80%;margin: auto; ">
                <div >
                    <h2 class="mt-5">Aprovecha las ofertas</h2>
                    <h2 class="mt-4">Hasta un 50% de decuento</h2>
                    <button class="btn btn-secondary mt-4">Compre ahora</button>
                </div>
                <div >
                    <img src="../img/chica3.png" class="img-fluid" alt="chica">
                </div>
                
              </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    
</header>

<!-- Nav desplegable -->
<nav class="navbar navbar-expand-lg mt-4">
    <div class="container-fluid px-4 px-lg-5" style="margin-left: 3.125rem;">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-5 ">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle m-1" style="background-color: #ecf0f4; border-radius: 35px;"
                        href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Auriculares
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Modelo</a></li>
                        <li><a class="dropdown-item" href="#">Color</a></li>

                        <li><a class="dropdown-item" href="#">Funciones</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle m-1" style="background-color: #ecf0f4; border-radius: 35px;"
                        href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Precio
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle m-1" style="background-color: #ecf0f4; border-radius: 35px;"
                        href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Descripcion
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle m-1" style="background-color: #ecf0f4; border-radius: 35px;"
                        href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Color
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle m-1" style="background-color: #ecf0f4; border-radius: 35px;"
                        href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Material
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle m-1" style="background-color: #ecf0f4; border-radius: 35px;"
                        href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Ofertas
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle m-1" style="background-color: #ecf0f4; border-radius: 35px;"
                        href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Filtros
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>

    <div style="margin-right: 9.688rem;">
        <div class="collapse navbar-collapse" id="navbarSupportedContent"> 
            <ul>

                <li class="nav-item dropdown" style="list-style: none;">
                    <a class="nav-link dropdown-toggle m-1 text-center pt-1 "
                        style="background-color: #ecf0f4; border-radius: 35px; height: 35px; width: 100px; "
                        href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Ordenar
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Modelo</a></li>
                        <li><a class="dropdown-item" href="#">Precio</a></li>
                        <!-- <li><a class="dropdown-item" href="#"></a></li> -->
                    </ul>
                </li>
            </ul>
        </div>
    </div>

</nav>
