<header class=" py-2">


    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="d-flex justify-content-evenly" style="background-color: #FBF0E4; border: 1px solid #FBF0E4; width: 80%;margin: auto; ">
                <div >
                    <h2 class="mt-5">Aprovecha las ofertas</h2>
                    <h2 class="mt-4">Hasta un 50% de decuento</h2>
                    <button class="btn btn-secondary mt-4">Compre ahora</button>
                </div>
                <div >
                    <img src="../img/chica.png" class="img-fluid" alt="chica">
                </div>
                
              </div>
          </div>
          <div class="carousel-item">
            <div class="d-flex justify-content-evenly" style="background-color:  #FBF0E4; border: 1px solid #FBF0E4; width: 80%;margin: auto; ">
                <div >
                    <h2 class="mt-5">Aprovecha las ofertas</h2>
                    <h2 class="mt-4">Hasta un 50% de decuento</h2>
                    <button class="btn btn-secondary mt-4">Compre ahora</button>
                </div>
                <div >
                    <img src="../img/chica2.png" class="img-fluid" alt="chica">
                </div>
                
              </div>
          </div>
          <div class="carousel-item">
            <div class="d-flex justify-content-evenly" style="background-color:  #FBF0E4; border: 1px solid #FBF0E4; width: 80%;margin: auto; ">
                <div >
                    <h2 class="mt-5">Aprovecha las ofertas</h2>
                    <h2 class="mt-4">Hasta un 50% de decuento</h2>
                    <button class="btn btn-secondary mt-4">Compre ahora</button>
                </div>
                <div >
                    <img src="../img/chica3.png" class="img-fluid" alt="chica">
                </div>
                
              </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    
</header>